#logo{
    width: 250px;
}
#navbar{
    background-color: #0D1524;
    padding: 2px 0px;
}
#navbar ul{
    margin-top: 16px;
}
#navbar ul li{
    display: inline;
    margin: 0px 20px;
    list-style: none;
}
#navbar ul li a:hover{
    color: red;
}
#navbar ul li a{
    color:white;
    font-size: 18px;
    text-decoration: none;
}
#carousel{
    height: 450px;
    margin-top: 10px;
    background-image: url('img/slider_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-clip: content-box;
}
.intro-text{
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
    color: grey;
    letter-spacing: 2px;
    text-indent: 40px;
}
.intro-product-left,.intro-product-right{
    float: left;
    width: 50%;
}
.intro-product-item{
    float:left;
    padding: 10px;
}
.intro-product-item1{
    width: 50%;
}
.intro-product-item2{
    width: 100%;
}
.intro-product-item img{
    width: 100%;
    display: block;
}
#product h1{
    text-align: center;
}
.product-item{
    width: 24%;
    float: left;
    box-sizing: border-box;
    padding: 0px 10px;
    margin: 0px 5px;

}
.product-item img{
    max-width: 100%;
}
.item-title{
    font-weight: bold;
    font-size: 25px;
}
.item-content{
    font-size: 17px;
    color: black;
    text-align: justify;
}
.item-button{
    background-color: red;
    border: 1px solid red;
    color: white;
}
.clear{
    clear:both;
}
#banner{
    height: 400px;
    background-image: url(img/nature.jpg);
    background-size: cover;
    position: relative;
    margin-top: 5px;
}
#banner .saleoff{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 0, 0,0.6);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    position: absolute;
    top:10%;
    left:8%;
}
#banner .saleoff h2, #banner .saleoff p{
    color: white;
    text-align: center;
}
#banner .saleoff h2{
    margin-top: 40px;
}
#banner .saleoff .saleoff-percent{
    font-size: 100px;
    margin-top:-30px;
    margin-bottom: -20px;
}
.saleoff p{
font-size: 24px;
}
#service{
    width: 60%;
    margin: 20px auto;
}
#service .service-item{
    float:left;
    width: 33%;
    text-align: center;
}
#service .service-item i{
    font-size: 40px;
    color: black;
}
#footer{
    background-color: black;
    color: white;
    text-align: center;
    padding:5px 0px;
    line-height: 13px;
}
